<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Show</title>
</head>
<body>
  <h1>Search Results</h1>
  <ul>
    <% newBooks.forEach(val => { %>
      <li>
        <h2> <%= val.title%></h2>
        <h2> <%= val.author%></h2>
        <h2> <%= val.description%></h2>
        <img src=<%= val.image %> alt=<% val.description%>>
      </li>
  <form action="/books" method="POST">
    <fieldset>
      <label for="title"> Save Title</label>
      <input type="text" name="title" value=" <%=val.title %>">
      <label for="author">Save Author</label>
      <input type="text" name="author" value=" <%=val.author %>">
      <label for="image">Save Image</label>
      <input type="text" name="image" value=" <%=val.image %>">
      <label for="description">Save Description</label>
      <input type="text" name="description" value=" <%=val.description %>">
      <input type="submit" value="submit">
    </fieldset>
  </form>
    <% }) %>
  </ul>
</body>
</html>