<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Show</title>
</head>
<body>
  <h1>Search Results</h1>
  <ul>
    <% newBooks.forEach(book => { %>
      <li>
        <img src="<%= book.img %>">
        <h2> <%= book.title%></h2>
        <h2> <%= book.author%></h2>
        <h2> <%= book.description%></h2>
      </li>
  <form action="/books" method="POST">
    <fieldset>
      <input type="hidden" name="title" value=" <%=book.title %>">
      <input type="hidden" name="author" value=" <%=book.author %>">
      <input type="hidden" name="image" value=" <%=book.img %>">
      <input type="hidden" name="description" value=" <%=book.description %>">
      <input type="submit" value="save">
    </fieldset>
  </form>
    <% }) %>
  </ul>
</body>
</html>